.cet-miab-game {
    .cet-miab-game-board {
        background-color: #f1f9fc;
        padding: {
            top: 1rem;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
        }
        .cet-miab-game-board__puzzle {
            display: table;
            line-height: 0;
            .cet-miab-game-board__puzzle-row {
                display: table-row;
                line-height: 0;
                &:first-of-type {
                    .cet-miab-game-board__puzzle-item {
                        padding-top: 0;
                    }
                }
                &:last-of-type {
                    .cet-miab-game-board__puzzle-item {
                        padding-bottom: 0;
                    }
                }
                .cet-miab-game-board__puzzle-item {
                    display: table-cell;
                    position: relative;
                    line-height: 0;
                    user-select: none;
                    cursor: pointer;
                    padding: {
                        top: 1.5px;
                        bottom: 1.5px;
                        left: 1.5px;
                        right: 1.5px;
                    }
                    &.focus {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-shadow: inset 0px 0px 3px 2px rgba(0, 143, 211, 1);
                        }
                    }
                    &.frozen {
                        pointer-events: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        &.frozen {
            .cet-miab-game-board__puzzle {
                pointer-events: none;
                opacity: 0.85;
            }
        }
        .cet-miab-game-board__control {
            margin-top: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cet-miab-game-board__control-item {}
        }
    }
}