.cet-miab-picture-puzzle {
    max-width: 700px;
    .cet-miab-game-board__puzzle-item {
        padding: {
            top: 1.5px;
            bottom: 1.5px;
            left: 1.5px;
            right: 1.5px;
        }
        &.focus {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0px 0px 3px 2px rgba(0, 143, 211, 1);
            }
        }
    }

    .cet-miab-pp-help {
        display: flex;
        .cet-miab-game-help {
            margin: {
                right: 0.95rem;
            }
        }
    }
}