<div class="cet-miab-game-modal__body">
    <div class="cet-miab-game-help">
        <h3 class="cet-miab-game__help-instruction-title">How to play!</h3>
        <div class="cet-miab-game__help-instructions">
            <p>Professionally envisioneer parallel results vis-a-vis cooperative results. Efficiently embrace virtual
                imperatives and maintainable testing procedures. Compellingly restore 24/365 mindshare and alternative
                e-business.
            </p>
            <ul class="cet-miab-game__help-points">
                <li>1. Progressively pursue client-based potentialities for backward-compatible materials. Compellingly
                    scale alternative.</li>
                <li>2. Quickly innovate enterprise content through technically sound initiatives. Monotonectally deploy.
                </li>
                <li>3. Monotonectally evisculate premium customer service without equity invested mindshare.
                    Professionally.</li>
                <li>4. Appropriately redefine sustainable customer service whereas focused paradigms. Credibly integrate
                    progressive potentialities and.</li>
                <li>5. Seamlessly engineer e-business paradigms through standardized innovation. Monotonectally unleash
                    best-of-breed synergy for.</li>
                <li>6. Uniquely monetize turnkey products rather than robust sources. Progressively maintain leveraged
                    ROI vis-a-vis parallel channels. Efficiently recaptiualize an expanded array.</li>
            </ul>
        </div>
    </div>
</div>