<div class="cet-miab-game-modal__body">
    <div class="cet-miab-game-help">
        <div class="cet-miab-game__help-instructions">
            <p>
                {{cetMIABTranslation.t.picture_puzzle.help.brief}}
            </p>
            <ul class="cet-miab-game__help-points">
                {{#each cetMIABTranslation.t.picture_puzzle.help.points as | helpPoint |}}
                    <li>{{helpPoint}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>